@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --text-color: #000000;
  --card-front-color: #8f4747;
  --card-back-color: #000000;
}

body {
  background: url(img/bg-desktop-red.webp);
  font-family: Grandstander;
}
.cabecalho{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
}
.cartao__conteudo {
  background-color: var(--card-front-color);
  text-align: center;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 300ms ease-in-out;
}
#container {footer p {
  text-align: center;
  font-size: 0.6rem;
  margin-top: 0.5rem;
}
  display: flex;
  flex-wrap: wrap;
}
.cartao {
  margin: 1rem 1rem;
  height: 20rem;
  flex-grow: 1;
  flex-basis: calc(33% - 6rem);
}
.cartao__conteudo p {
  padding: 4rem;
}
.cartao__conteudo h3 {
  color: var(--text-color);
  border: 1px solid var(--text-color);
  text-align: left;
  padding: 0.5rem;
  position: absolute;
  margin: 0.6rem;
  border-radius: 0.6rem;
  font-size: 1vw;
}
.cartao__conteudo__pergunta p {
  color: var(--text-color);
  font-weight: 500;
}
.cartao__conteudo__resposta p {
  color: var(--card-back-color);
  font-weight: 700;
}
.cartao__conteudo__pergunta .cartao__conteudo__resposta{
  position:absolute;
  border-radius:12px;
  box-shadow: 0 6px 12 px 
}
footer {
  background-color: rgb(63, 33, 33);
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2rem;
}
footer p {
  text-align: center;
  font-size: 0.6rem;
  margin-top: 0.5rem;
}
